# Default ignored files
/shelf/
/workspace.xml
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml

# Github stats log directory
**/resources/gh-stats/**

# Idea project files
.idea
.idea/**
**/target/**
*.iml
*.ipr
*.iws
**/*.iml
**/dependency-reduced-pom.xml
logs/**
logs/
tmp/**
tmp/
server/logs/**
server/logs
.DS_Store
**/.DS_Store