# Anthropic
ANTHROPIC_API_KEY=

# Search
SERPER_API_KEY=

# LangSmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=esg-reporting-agent
